// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article-image-small{
	max-width:100%;
	margin-bottom:10px;
	max-height:500px;
}

.article-image-lead{
	height:250px;
}

.article-index-table{
	width: 100%;	
}

.article-index-row{
	margin:3px 5px 3px 5px;
}

.article-index-data{
	border-bottom:1px solid #A89898;
	padding:10px;
	background: #fff;
	
}

.article-index-data a{
	text-decoration:underline;
	color:#333;
	font-weight: 500;
}


.article-index-row:hover{
	background-color:#F0FFFF;
	cursor:pointer;
}


