// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header{
	width:100%;
	background-color:#1F1F1F;
	top:0px;

}

.header-container{
	width:1300px;
	margin-left:auto;
	margin-right:auto;
	padding:2px 0px 2px 0px;
	color:white;
	text-align:center;

}

.header-container a{
	color:white;
	text-decoration:none;
	margin-left:8px;
	margin-right:8px;
	font-size:12px;

}

.page-container{
	margin-top:50px;
	background: #fff;
}

.page-container.category{
	padding: 50px 0px;
}

.top-story{
	margin: 0px auto;
	max-width:1000px;
	text-align:center;
	padding: 50px 10px;
}

.top-story a{
	font-size:50px;
	color:black;
	text-decoration:underline;
}

.brand-top{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

.brand-top h1{
	font-size:60px;
	margin-top:25px;
	margin-bottom:25px;
}

.home-column{
	float:left;
	width:388px;
	max-width:32%;
	display: inline-block;
	padding:0px 5px;

}

.article-content{
	padding: 10px;
	margin:0px auto 10px;
	background-color: #fff;
	text-align: justify;
	border-radius: 10px;
}

a.article-headline{
	
	text-decoration: underline;
    color: #333;
    font-weight: 500;

}

.category-page-header {
	background-color: #eee;
    position: fixed;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    border-bottom: 1px solid #ccc;
    z-index: 99000;
}

.category-page-header h2 {
	text-align:center;
	color:#333;
	margin:0px;
	line-height: 2;
}

.home-articles-center{
	float:left;
	max-width: 100%;
	width:100%;
	margin: 0 auto;
	background-color: #222;
}

.home-articles-container{
	max-width: 1200px !important;
    margin: 0 auto;
    width: 100%;
    display: block;
    float: right;
    left: -50%;
    position: relative;
}

.home-articles{
	max-width: 1200px !important;
    margin: 0 auto;
    padding: 25px 0px;
    width: 100%;
    float: left;
    left: 50%;
    display: block;
    position: relative;
}


.two-columns{
		display:none;
	}

a.no-style-link{
	text-decoration:none;

}

.footer{
	width:100%;
	background-color:#1F1F1F;
	bottom:0px;
	position:relative;

}

.footer-container{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	padding:2px 0px 2px 0px;
	color:white;
	text-align:center;

}

.footer-container a{
	color:white;
	text-decoration:none;
	margin-left:3px;
	margin-right:3px;

}

@media only screen and (max-width: 800px) {

	.home-column.right-column{
		display:none;
	}

	.home-column.left-column{
		max-width:47%;
		width:399px;
	}

	.home-column.center-column{
		max-width:47%;
		width:399px;
		border-right:none;
	}

	.three-columns{
		display:none;
	}

	.two-columns{
		display:block;
	}
}

