<!doctype html>
<html lang=''>
<head>
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="styles.css">
   <script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
   <script src="script.js"></script>
   <title>CSS MenuMaker</title>
</head>

<header>
   <script>
      $( document ).ready(function() {
      $('#cssmenu').prepend('<div id="menu-button">Futable</div>');
         $('#cssmenu #menu-button').on('click', function(){
            var menu = $(this).next('ul');
            if (menu.hasClass('open')) {
               menu.removeClass('open');
            }
            else {
               menu.addClass('open');
            }
         });
      });
   </script>
</header>

<body>

<div id='cssmenu'>

	<ul>
   		<li><a href='<%=root_path%>' class="app-name"><span><p class="header-app-name">B</p><p class="header-home">Home</p></span></a></li>

   		<% if @header_categories %>

				<% @header_categories.each do |category|%>

					<li><a href="/<%=category.url%>" class="category-header"><span><%=category.name%></span></a></li>

				<%end%>
				
			<%end%>

    	<li class="right"><a href='/about'><span>About</span></a></li>

   </ul>

</div>

</body>
<html>